@use "../../utils/" as *;

.banner {
    height: 223px;
    margin: auto;
    margin-top: 50px;

    @include mobile {
        height: 223px;
        margin-top: 27px;
    }
}

.collapse {
    display: flex;
    flex-direction: column;
    gap: 30px;

    margin: auto;
    margin-block: 38px;

    @include mobile {
        gap: 20px;
        width: 100%;
        margin-block: 19px;
    }
}
