@use "../../utils/" as *;

.banner {
    height: 223px;

    margin: auto;
    margin-top: 50px;

    @include mobile {
        height: 111px;

        margin-top: 27px;
        margin-bottom: 22px;
    }
}

.gallery {
    margin: auto;
    margin-top: 43px;
    margin-bottom: 50px;

    @include mobile {
        margin-top: 22px;
        margin-bottom: 27px;
    }
}