@use "../../utils/" as *;

.wrapper {
    max-width: 1200px;
    margin: auto;
    min-height: 81.58vh;

    @include tablet {
        margin-inline: 40px;
    }

    @include mobile {
        margin-inline: 20px;
        min-height: 83.25vh;
    }
}
