// --- Variables List   ---

$breakpoints: (
    small-mobile: 580px,
    //(max-width)
    mobile: 768px,
    //(max-width)
    tablet: 1140px,
    //(max-width)
    desktop: 1440px,
    //(max-width)
);

// --- Mixins  ---

@mixin small-mobile {
    @media (max-width: map-get($breakpoints, small-mobile)) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: map-get($breakpoints, desktop)) {
        @content;
    }
}
