* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat;
}

li {
    list-style-type: none;
    font-weight: normal;
}

h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1em;
}


// Définition des variables light mode
:root {
    // Light Mode
    --light-background-color: #fff;
    --light-text-color: #000;

    // Dark Mode
    --dark-background-color: #1e1e1e;
    --dark-text-color: #fff;
    --dark-secondary-color: #353535;
}

// Styles dark mode
.dark {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}


/* PERSONNALISATION SCROLL BAR */
::-webkit-scrollbar {
    width: 10px;
}

/* Couleur du bouton */
::-webkit-scrollbar-button {
    background: #DDDDDD; /* Light Mode */
}
body.dark::-webkit-scrollbar-button {
    background: #1a1a1a; /* Dark Mode */
}

/* Couleur de la piste */
::-webkit-scrollbar-track {
    background: #F6F6F6; /* Light Mode */
}
body.dark::-webkit-scrollbar-track {
    background: #353535; /* Dark Mode */
}

/* Couleur de la poignée */
::-webkit-scrollbar-thumb {
    background: #FF6060; /* Light Mode */
}